@font-face {
    font-family: source-sans-pro;
    src: url('../fonts/source-sans-pro/SourceSansPro-Light.otf') format('opentype'),
    url('../fonts/source-sans-pro/SourceSansPro-Regular.otf') format('opentype'),
    url('../fonts/source-sans-pro/SourceSansPro-Semibold.otf') format('opentype'),
    url('../fonts/source-sans-pro/SourceSansPro-Bold.otf') format('opentype');
    font-weight: 300 400 600 700;
    font-style: normal;
  }
  